<form>
  <div class="form-group">
    <label for="name">Imię: </label>
    <input type="text" class="form-control" id="name" placeholder="Podaj imie">
  </div>

  <div class="form-group">
    <label for="surname">Nazwisko: </label>
    <input type="text" class="form-control" id="surname" placeholder="Podaj nazwisko">
  </div>

  <div class="form-group">
    <label for="mail">E-mail: </label>
    <input type="text" class="form-control" id="mail" placeholder="Podaj email">
  </div>
  Płeć:<br>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="sex" id="man" value="option1">
    <label class="form-check-label" for="man">Mężczyzna</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="sex" id="woman" value="option2">
    <label class="form-check-label" for="woman">Kobieta</label>
  </div>

  <div class="form-group">
    <label for="description">Opis: </label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="age">Wiek: </label>
    <select class="form-control" id="age">
      <option>18</option>
      <option>19</option>
      <option>20</option>
      <option>21</option>
      <option>22</option>
    </select>
  </div>

  <div class="form-group">
    <label for="state">Płeć</label>
    <select class="form-control" id="state">
      <option>Panna/Kawaler</option>
      <option>Po ślubie</option>
      <option>Po rozwodzie</option>
    </select>
  </div>

  <div class="col-auto">
    <button type="reset" class="btn btn-primary mb-2">Wyczyść</button>
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-2">Wyślij</button>
  </div>


</form>

<footer class = "footer">

  Copyrights &copy; Patryk Zych | 2020

</footer>


